{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="icon" href="{{ asset('images/gecko.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="{{ asset('css/reunionit-custom.css') }}" />
    <style>
        body:after {
            content: "";
            background-image: url({{ asset('images/template-gecko.svg') }});
            background-repeat:no-repeat;
            background-position:center center;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'components/_navbar.html.twig' %}

    {#<div class="container-fluid">#}
        {% block content '' %}
    {#</div>#}
    {#{% include 'components/_footer.html.twig' %}#}

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

